<% include partials/header %>

    <div class="container">

      <h1>W</h1>

        <div class="jumbotron">
            <div class="col-sm-8 mx-auto">

              <div class="form-group">
                <select class="form-control" id="languages">
                  <option  value="en">English</option>
                  <option  value="pl">Polski</option>
                  <option  value="cs">Čeština</option>
                  <option  value="hu">Magyar</option>
                  <option  value="fr">Français</option>
                </select>
              </div>

                <div class="input-group">
                    <input type="text" class="form-control" id="searchInput" placeholder="Search Wikipedia">
                    <div class="input-group-btn">
                        <button id="searchButton" class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>

            </div>
        </div>

        <% include partials/results %>

    </div>

    <% include partials/footer %>
